@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-shake {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    border: 2px solid #ef4444;
  }
}
